/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-white;
  }
  .text-50-extrabold {
    @apply text-[50px] font-extrabold text-white;
  }

  .text-30-bold {
    @apply text-[30px] font-bold text-black;
  }

  .text-30-semibold {
    @apply font-semibold text-[30px] text-black;
  }

  .text-35-semibold {
    @apply font-semibold text-[35px] text-black;
  }

  .text-26-semibold {
    @apply font-semibold text-[26px] text-black;
  }

  .text-24-black {
    @apply text-[24px] font-black text-black;
  }

  .text-20-medium {
    @apply font-medium text-[20px] text-black;
  }

  .text-16-medium {
    @apply font-medium text-[16px] text-black;
  }

  .text-14-normal {
    @apply font-normal text-sm text-white-100/80;
  }
  .lightblue_container {
    @apply w-full min-h-[530px] pattern flex justify-center items-center flex-col py-10 px-6;
    @apply bg-gradient-to-b from-primary to-gray-900;
  }

  /* .lightblue_container {     @apply w-full bg-primary min-h-[530px] pattern flex justify-center items-center flex-col py-10 px-6;   }  */
  .tag {
    @apply bg-secondary px-6 py-3 font-assistant font-bold rounded-sm uppercase relative tag-tri;
  }

  .heading {
    @apply px-6  py-3  text-[32px] font-bold text-white sm:leading-[64px] leading-[46px] max-w-full  text-center my-5;
  }

  /* .sub-heading {
    @apply font-medium text-[20px] text-white max-w-2xl text-center break-words;
  } */

  .section_container {
    @apply px-6 py-10 max-w-7xl mx-auto;
  }

  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }

  .card_grid-sm {
    @apply grid sm:grid-cols-2 gap-5;
  }

  .no-result {
    @apply text-black-100 text-sm font-normal;
  }

  /* profile */
  .profile_container {
    @apply w-full pb-10 pt-20 px-6 max-w-7xl mx-auto lg:flex-row flex-col flex gap-10;
  }

  .profile_card {
    @apply w-80 px-6 pb-6 pt-20 flex flex-col justify-center items-center bg-primary border-[5px] border-black shadow-100 rounded-[30px] relative z-0 h-fit max-lg:w-full;
  }

  .profile_title {
    @apply w-11/12 bg-white border-[5px] border-black rounded-[20px] px-5 py-3 absolute -top-9 after:absolute after:content-[''] after:-top-1 after:right-0 after:-skew-y-6 after:bg-black after:-z-[1] after:rounded-[20px] after:w-full after:h-[60px] before:absolute before:content-[''] before:-bottom-1 before:left-0  before:-skew-y-6 before:w-full before:h-[60px] before:bg-black  before:-z-[1] before:rounded-[20px] shadow-100;
  }

  .profile_image {
    @apply rounded-full object-cover border-[3px] border-black;
  }

  /* idea details */
  .divider {
    @apply border-dotted bg-zinc-400 max-w-4xl my-10 mx-auto;
  }

  .view_skeleton {
    @apply bg-zinc-400 h-10 w-24 rounded-lg fixed bottom-3 right-3;
  }

  /* navbar */
  .avatar {
    @apply p-0 focus-visible:ring-0 bg-none rounded-full drop-shadow-md !important;
  }

  .dropdown-menu {
    @apply w-56 border-[5px] border-black bg-white p-5 rounded-2xl !important;
  }

  .login {
    @apply border-[5px] py-4 border-black bg-white text-black relative shadow-100 font-assistant font-medium hover:shadow-none transition-all duration-500 !important;
  }

  /* searchform */
  .search-form {
    @apply max-w-3xl w-full min-h-[80px] bg-white border-[5px] border-black rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
  }

  .search-input {
    @apply flex-1 font-bold placeholder:font-semibold placeholder:text-black-100 w-full h-auto outline-none;
  }

  .search-btn {
    @apply size-[50px] rounded-full bg-black flex justify-center items-center !important;
  }

  /* startupcard */
  .startup-card {
    @apply bg-white border-[5px] border-primary py-6 px-5 rounded-[22px] shadow-300 hover:border-primary transition-all duration-500 hover:shadow-300 hover:bg-primary-100;
  }

  .startup-card_date {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full group-hover:bg-white-100;
  }

  .startup-card_desc {
    @apply font-normal text-[16px] line-clamp-2 my-3 text-black-100 break-all;
  }

  .startup-card_img {
    @apply w-full h-[164px] rounded-[10px] object-cover;
  }

  .startup-card_btn {
    @apply rounded-full bg-secondary font-medium text-[16px] text-white px-5 py-3 !important;
  }

  .startup-card_skeleton {
    @apply w-full h-96 rounded-[22px] bg-zinc-400;
  }

  /* startupform */
  .startup-form {
    @apply max-w-2xl mx-auto bg-white my-10 space-y-8 px-6;
  }

  .blog-form {
    @apply max-w-2xl mx-auto bg-white my-10 space-y-8 px-6 flex flex-col items-center;
  }

  .startup-form_label {
    @apply font-bold text-[18px] text-white uppercase;
  }

  .startup-form_input {
    @apply border-[3px] border-black px-5 py-7 text-[18px] text-black bg-white font-semibold rounded-full mt-3 placeholder:text-black-300 !important;
  }

  .startup-form_textarea {
    @apply border-[3px] border-black p-5 text-[18px] text-black font-semibold rounded-[20px] mt-3 placeholder:text-black-300 !important;
  }

  .startup-form_error {
    @apply text-red-500 mt-2 ml-5;
  }

  .startup-form_editor {
    @apply mt-3 border-[3px] border-black text-[18px] text-black font-semibold placeholder:text-black-300 !important;
  }

  .startup-form_btn {
    @apply bg-primary border-[4px] border-black rounded-full p-5 min-h-[70px] w-full font-bold text-[18px] !important;
  }
  .blog-form_btn {
    @apply bg-primary border-[4px] border-black rounded-full  min-h-[65px]  font-bold text-[18px];
  }

  /* view */
  .view-container {
    @apply flex justify-end items-center mt-5 fixed bottom-3 right-3;
  }

  .view-text {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-lg capitalize;
  }

  .category-tag {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full;
  }
  .hero-pattern {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3E%3Cg mask='url(%26quot%3B%23SvgjsMask1141%26quot%3B)' fill='none'%3E%3Crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3B%23SvgjsLinearGradient1142%26quot%3B)'%3E%3C/rect%3E%3Cpath d='M 0,172 C 57.6,152 172.8,57.2 288,72 C 403.2,86.8 460.8,248.8 576,246 C 691.2,243.2 748.8,78 864,58 C 979.2,38 1036.8,143.8 1152,146 C 1267.2,148.2 1382.4,84.4 1440,69L1440 560L0 560z' fill='rgba(63, 185, 195, 1)'%3E%3C/path%3E%3Cpath d='M 0,404 C 96,417.8 288,496.4 480,473 C 672,449.6 768,277.2 960,287 C 1152,296.8 1344,475 1440,522L1440 560L0 560z' fill='rgba(27, 134, 183, 1)'%3E%3C/path%3E%3C/g%3E%3Cdefs%3E%3Cmask id='SvgjsMask1141'%3E%3Crect width='1440' height='560' fill='%23ffffff'%3E%3C/rect%3E%3C/mask%3E%3ClinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1142'%3E%3Cstop stop-color='%230e2a47' offset='0'%3E%3C/stop%3E%3Cstop stop-color='rgba(21, 159, 230, 1)' offset='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* position: absolute; */
    /* width: 100%; */
    /* min-height: 560px; */
  }

  /* .hero-pattern::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23ffffff' fill-opacity='0.05' d='M0,96L48,128C96,160,192,224,288,213.3C384,203,480,117,576,101.3C672,85,768,139,864,160C960,181,1056,171,1152,154.7C1248,139,1344,117,1392,106.7L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 100% 100%;
    animation: wave 15s ease-in-out infinite alternate;
    z-index: -1;
  } */

  @keyframes wave {
    0% {
      transform: translateY(0) scale(1.2);
    }
    100% {
      transform: translateY(15px) scale(1.2);
    }
  }

  .partners-bg {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1044%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(21%2c 144%2c 207%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c511.661C99.676%2c515.645%2c198.831%2c493.685%2c285.267%2c443.884C374.45%2c392.5%2c438.088%2c311.737%2c495.391%2c226.237C562.116%2c126.679%2c674.235%2c23.483%2c644.909%2c-92.724C614.975%2c-211.342%2c445.898%2c-224.876%2c359.653%2c-311.641C282.04%2c-389.722%2c262.773%2c-516.27%2c168.081%2c-572.43C62.645%2c-634.962%2c-66.243%2c-658.697%2c-186.64%2c-635.637C-312.68%2c-611.496%2c-446.8%2c-553.787%2c-510.603%2c-442.44C-573.065%2c-333.434%2c-506.112%2c-198.776%2c-508.937%2c-73.174C-511.338%2c33.572%2c-572.231%2c143.972%2c-525.957%2c240.197C-479.813%2c336.152%2c-365.595%2c372.819%2c-270.98%2c421.653C-184.653%2c466.209%2c-97.07%2c507.782%2c0%2c511.661' fill='%231385be'%3e%3c/path%3e%3cpath d='M1440 1230.241C1564.454 1254.941 1685.029 1175.946 1792.509 1108.5149999999999 1900.908 1040.508 2020.949 964.756 2058.265 842.352 2094.791 722.538 2017.9969999999998 602.278 1983.551 481.849 1953.993 378.51 1943.0729999999999 266.263 1870.746 186.75599999999997 1799.1680000000001 108.072 1691.334 81.49400000000003 1589.982 49.209 1486.361 16.201000000000022 1381.765-21.923999999999978 1274.651-3.1269999999999527 1160.796 16.852999999999952 1056.314 74.90899999999999 975.052 157.12 890.393 242.76799999999997 812.461 348.774 807.866 469.113 803.384 586.497 883.948 686.9 951.145 783.2529999999999 1008.604 865.643 1093.112 916.639 1167.242 984.4200000000001 1259.437 1068.719 1317.465 1205.922 1440 1230.241' fill='%23179ce0'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1044'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    @apply bg-cover bg-center bg-no-repeat;
  }

  .tag-tri {
    @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
  }
}

.w-md-editor-toolbar {
  padding: 10px !important;
}

@keyframes text-shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.animate-text-shine {
  animation: text-shine 8s infinite linear;
  background-size: 200% auto;
}

.toast-destructive {
  background-color: #ff0000;
  color: #fff;
}

.toast-destructive-foreground {
  color: #fff;
}

.destructive {
  background-color: #ff0000;
  color: #fff;
}

.bg-destructive {
  background-color: #ff0000;
}

.main {
  max-width: 75rem;
  padding: 3em 1.5em;
}

.main__heading {
  font-weight: 600;
  font-size: 2.25em;
  margin-bottom: 0.75em;
  text-align: center;
  color: #eceff1;
}

.cards {
  position: relative;
}

.cards__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}

.card {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 15rem;
  /* padding: 1.5em 2em; */
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  /* gap: 1.25em; */
  color: #eceff1;
  background-color: #2b2b2b;
  /* border: 1px solid #eceff133;
  border-radius: 15px; */
}

.card:nth-child(1) {
  --hue: 165;
  --saturation: 82.26%;
  --lightness: 51.37%;
}

.card:nth-child(2) {
  --hue: 291.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
}

.card:nth-child(3) {
  --hue: 338.69;
  --saturation: 100%;
  --lightness: 48.04%;
}
.card:nth-child(4) {
  --hue: 462.69;
  --saturation: 100%;
  --lightness: 48.04%;
}

.card__bullets {
  line-height: 1.4;
}

.card__bullets li::before {
  display: inline-block;
  /* content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' title='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E"); */
  transform: translatey(0.25ch);
  margin-right: 1ch;
}

.card__heading {
  font-size: 1.05em;
  font-weight: 600;
}

.card__price {
  font-size: 1.75em;
  font-weight: 700;
}

.flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}

.cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #0d0d0d;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}

.overlay .card {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

.overlay .cta {
  display: block;
  grid-row: -1;
  width: 100%;
  background-color: hsl(var(--hsl));
  box-shadow: 0 0 0 1px hsl(var(--hsl));
}

:not(.overlay) > .card {
  transition: 400ms background ease;
  will-change: background;
}

:not(.overlay) > .card:hover {
  --lightness: 95%;
  background: hsla(var(--hsl), 0.1);
}

.academy-gradient {
  background: linear-gradient(to bottom left, #1590cf, #040000);
}
